@model IEnumerable<GymPlannerWeb.Days>

@{
    ViewBag.Title = "Calendar";
}

<h2>Календар</h2>
<h4>Оберіть день</h4>
@using (Html.BeginForm("GoToDay", "Calendar"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <input name="date" data-provide="datepicker" data-date-format="dd/mm/yyyy" autocomplete="off"/>
                <input type="submit" value="Перейти" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Переглянути", "Day", "Day", new { dayId = item.ID_Day }, null) |
                @Html.ActionLink("Видалити", "DeleteDay", new { dayId = item.ID_Day })
            </td>
        </tr>
    }
</table>
