@model IEnumerable<GymPlannerWeb.Exercises>

@{
    ViewBag.Title = "SelectExercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вибір вправи</h2>

<body>
    <div>
        <form id="form1" runat="server" method="post" autocomplete="off">
            <label class="LabelCSSTop">Введіть назву вправи</label>
            <p>
                <asp:input ID="input1" runat="server" onchange="@Url.Action("Text_changed", "ExerciseSelection")"
                       oninput="@Url.Action("Text_changed", "ExerciseSelection")" />

            </p>
        </form>
    </div>
    <Button ID="Button1" runat="server" Text="Вибрати">
        Вибрати
    </Button>
    <h3>Вправи</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Information)
                </td>
            </tr>
        }

    </table>
</body>
