@model GymPlannerWeb.Workouts

@{
    ViewBag.Title = "Видалити тренування";
}

<h3>Ви дійсно хочете видалити @Html.DisplayFor(model => model.Exercises.First().Name)?</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sets.FirstOrDefault().Num_Reps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sets.FirstOrDefault().Weight)
        </th>
        <th></th>
    </tr>
    @foreach (var set in Model.Sets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => set.Num_Reps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => set.Weight)
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Видалити" class="btn btn-default" />
    </div>
}

