@model IEnumerable<GymPlannerWeb.Workouts>

@{
    ViewBag.Title = "Тренування";
}

<h2>Тренування</h2>

<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Переглянути", "Workouts", item)
                @Html.ActionLink("Видалити", "Delete", item)
            </td>
        </tr>
    }
</table>
