@model IEnumerable<GymPlannerWeb.Exercises>

@{
    ViewBag.Title = "Редагування списку вправ";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Додати нову вправу", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            @Html.ActionLink("Видалити", "Delete", new { exerciseName = item.Name })
        </td>
    </tr>
}

</table>
