@model IEnumerable<GymPlannerWeb.Users>

@{
    ViewBag.Title = "UsersRender";
}

<h2>UsersRender</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Login }) |
            @Html.ActionLink("Details", "Details", new { id = item.Login }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Login })
        </td>
    </tr>
}

</table>
